@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

:root {
    --main-color: #EEF0F4;
    --main-font: 'Inter', sans-serif;
    --main-font-size: 12px;

    --secondary-color: #393939;
    --secondary-font: 'Inter', sans-serif;

    --accent-color-1: #D9DBDF;
    --accent-color-2: #B1F042;

}