@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

:root {
    --main-color: #EEF0F4;
    --main-font: 'Inter', sans-serif;
    --main-font-size: 12px;

    --secondary-color: #393939;
    --secondary-font: 'Inter', sans-serif;

    --accent-color-1: #D9DBDF;
    --accent-color-2: #e7a108;

}
body{
    margin: 0;
    padding: 0;
}
header {
     
    width: 100%;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: var(--main-color);
}

.hero-banner-content {
    width: 100%;
    height: 100%;
}

.hero-bannner-logo {
    width: 250px;
    height: 100%;
    float: left;
}

.hero-bannner-logo img {
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
}

.hero-banner-titles {
    height: 100%;
    width: 100%;
}

.hero-banner-title{
    font-size: 1.4rem;
    float: left;
    margin: 25px 1%;
    text-decoration: none;
    font-family: var(--main-font);
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    transition: 0.6s;
}
.hero-banner-title:hover{
    background-color: var(--accent-color-2);
}
.hero-right {
    float: right;
    margin: 30px 2%;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}
@media screen and (max-width: 900px) {
    .hero-banner-title{
        font-size: 1.2rem;
        padding: 2px;
        padding-top: 10px;
    }
  }
footer {
    width: 100vw;
    height: 350px;
    background-color: var(--accent-color-1);
    position: absolute;
    bottom: 0;
}

.hero-footer-top-content {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.hero-footer-logo {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 30px;
}

.hero-footer-logo img {
    width: 200px;
}

.hero-footer-contact {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 30px;
}

.full-button {
    width: 500px;
    height: 80px;
    border-radius: 10px;
    border: none;
    color: #747474;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    float: left;
}

.full-button input {
    width: 70%;
    height: 100%;
    border-radius: 60px 0 0 60px;
    border: none;
    color: #000000;
    font-size: 18px;
    cursor: text;
    font-weight: 600;
    float: left;
    padding: 0 20px;
}

.full-button input:focus {
    outline: none;
}

.full-button button {
    width: 30%;
    height: 100%;
    border-radius: 60px 60px 60px 60px;
    border: none;
    color: white;
    background-color: #000000;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    float: left;
    margin: 0 0 0 -50px;
}

.hero-footer-botttom-content {
    width: 100%;
    height: 20%;
    margin: 0;
    padding: 10px;
}

.hero-footer-botttom-content p {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    padding: 0 20px;
}
@media screen and (max-width: 768px){
    .hero-banner-titles{
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: var(--accent-color-2);
        flex-direction: column;
        z-index: 40;
        font-weight: 700;
        transform: translateY(-1000px);
    }
    .hero-banner-titles a{
        font-size: 30px;
    }
    .hero-bannner-logo img{
        display: block;
        position: relative;
        z-index: 42;
    }
}
