@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --main-color: #EEF0F4;
    --main-font: 'Inter', sans-serif;
    --main-font-size: 40px;

    --secondary-color: #393939;

    --accent-color-1: #D9DBDF;
    --accent-color-2: #B1F042;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-color);
    font-family: var(--main-font);
    font-weight: var(--main-weight);
    font-size: var(--main-font-size);
}

h1 {
    font-family: var(--main-font);
    font-weight: var(--main-weight);
    font-size: var(--main-font-size);
    color: var(--secondary-color);
    text-align: center;
    margin: 20px 0;
}

.shopping-cart {
    width: 100%;
    height: 100%;
}

.products {
    width: 100%;
    max-width: 90vw;
    min-height: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin: 0 auto;
}

.product {
    width: 100%;
    max-width: 400px;
    height: 400px;
    background-color: var(--accent-color-1);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.product-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 10px 0;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

h2 {
    color: var(--secondary-color);
    text-align: center;
    margin: 10px 0;
    font-size: 22px;
}

h3 {
    color: var(--secondary-color);
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
}

p {
    color: var(--secondary-color);
    text-align: center;
    margin: 10px 0;
    font-size: 16px;
}

.checkout {
    width: 100%;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin: 0 auto;
}

.checkout-button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: solid 1px #2965f1;
    color: #3b49df;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
}

.checkout-button:hover {
    background-color: #2965f1;
    color: #fff;
}

.delete-button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: solid 1px rgb(250, 67, 67);
    color: rgb(250, 67, 67);
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    margin: 10px 0;
}

.delete-button:hover {
    background-color: rgb(250, 67, 67);
    color: #fff;
}

.remove-article {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: rgb(250, 67, 67);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
}

.remove-article:hover {
    background-color: var(--main-color);
    color: rgb(255, 0, 0);
}

.shopping-cart-separator {
    width: 50%;
    height: 1px;
    background-color: black;
    margin: 20px auto;
}

.green {
    color: green;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.add_product {
    border-radius: 5px;
    border: solid 1px #2965f1;
    color: #3b49df;
    font-size: 22px;
    cursor: pointer;
    font-weight: 600;
    margin: 10px 10px;
    padding: 5px 10px;
}

.add_product:hover {
    background-color: #2965f1;
    color: #fff;
}

.del_product {
    border-radius: 5px;
    border: solid 1px rgb(250, 67, 67);
    color: rgb(250, 67, 67);
    font-size: 22px;
    cursor: pointer;
    font-weight: 600;
    margin: 10px 10px;
    padding: 5px 10px;
}

.del_product:hover {
    background-color: rgb(250, 67, 67);
    color: #fff;
}